.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/src/image/wall.png);
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: black;
    color: white;
    border-bottom: 1px solid red;
    margin-bottom: 20px;

}

.menu-lives{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-time h2:nth-child(2),.menu-score h2:nth-child(2){ 
    margin-top: 10px;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    border: 1px solid black;
    width: 150px;
    background-color: #A4DDF8
}

.enemy{
    background-image: url(/src/image/ralph.png);
    background-size: cover;
}